* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: $brand-bg;
}

#overlay {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  opacity: 0.95;
}

body {
    width: 960px;
    margin: 0 auto 0;
    font-family: $font-default;
    font-size: 16px;
    color: $text-color;
}

a {
    text-decoration: $link-text-decoration;
    color: $brand-primary;
    outline: none;

    &:hover {
        color: darken($color: $brand-primary, $amount: 25%);
    }
}

p {
    line-height: 24px;
    word-wrap: break-word;
}

ul {
    list-style: none;
}

pre {
    overflow-x: auto;

    & code {
        font-family: $font-source-code;
        font-size: 14px;

        & table, & tbody, & tr {
            width: 100%;
        }

        & tr {
            display: flex;
            align-items: center;
        }

        & .hljs-ln-numbers {
            display: inline-block;
            width: 20px;
            font-size: 12px;
            color: $text-color-2;
            text-align: right;
            margin-right: 20px;
            cursor: pointer;

            &:hover {
                & .hljs-ln-line.hljs-ln-n {
                    color: $text-color;
                }
            }
        }
    }
}

.container {
    margin: 50px 0;
    min-height: calc(100vh - 205px);

    &__info {
        width: 220px;
        margin-right: 30px;

        &__fullname {
            font-size: 20px;
            font-weight: bold;
        }

        &__username {
            color: $text-color-2;
        }

        &__follow {
            display: block;
            text-align: center;
            margin-top: 10px;
        }

        &__bio {
            margin-top: 10px;
        }

        &__website, &__email {
            display: block;
            margin-top: 10px;
        }
    }
}

.create-repo {
    width: 480px;

    & .form {
        width: 100%;

        &__input, &__label {
            width: 100%;
        }
    }
    
    &__error {
        margin-bottom: 10px;
        color: $brand-danger;
    }
}
