// Brand colors
$brand-primary: #395d9e;
$brand-border: #bebebe; 
$brand-danger: #ca5050;

// Background colors
$brand-bg: white;
$brand-bg-1: #ececec;

// Button color
$button-bg: $brand-primary;

// Text color
$text-color: #222222;
$text-color-2: #777777;

// Input color
$input-color: #222222;

// Link text-decoration
$link-text-decoration: none;

// Repo Link
$repo-link: none;

// Folder font weight
$folder-font-weight: bold;

// Highlight js
$hljs-bg: $brand-bg;
$hljs-ln-color: $text-color-2;

// HL.JS code highlighter
$hljs-code-green: #d0f3db;
$hljs-code-red: #f7cbcb;
$hljs-selection: #f6ffa9;

// Default font
$font-default: 'Roboto', -apple-system, BlinkMacSystemFont, "Calibri", Roboto, "DejaVu Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Source code font
$font-source-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
