// Brand colors
$brand-primary: #2680a4;
$brand-border: #e0e4e7;
$brand-danger: #d15555;

// Background colors
$brand-bg: white;
$brand-bg-1: #edf0f2;

// Button color
$button-bg: $brand-primary;

// Text color
$text-color: #333333;
$text-color-2: #8d8d8d;

// Input color
$input-color: #333333;

// Link text-decoration
$link-text-decoration: none;

// Repo Link
$repo-link: none;

// Folder font weight
$folder-font-weight: bold;

// Highlight js
$hljs-bg: $brand-bg;
$hljs-ln-color: $text-color-2;

// HL.JS code highlighter
$hljs-code-green: #e2fdeb;
$hljs-code-red: #ffe1e1;
$hljs-selection: #CDF0FD;

// Default font
$font-default: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Calibri", Roboto, "DejaVu Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Source code font
$font-source-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;