.file-viewer {
    & code {
        line-height: 22px;
        overflow-x: auto !important;

        & tr {
            &.hljs-selection {
                background: #CDF0FD;
            }
        }
    }
}