* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 860px;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333333; }

a {
  text-decoration: none;
  color: #2680a4;
  outline: none; }
  a:hover {
    color: #185066; }

p {
  line-height: 20px; }

ul {
  list-style: none; }

pre {
  overflow-x: auto; }
  pre code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 14px; }
    pre code table, pre code tbody, pre code tr {
      width: 100%; }
    pre code tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    pre code .hljs-ln-numbers {
      display: inline-block;
      width: 20px;
      font-size: 12px;
      color: #8d8d8d;
      text-align: right;
      margin-right: 20px;
      cursor: pointer; }
      pre code .hljs-ln-numbers:hover .hljs-ln-line.hljs-ln-n {
        color: #333333; }

.container {
  margin: 30px 0; }
  .container__info {
    width: 220px; }
    .container__info .button {
      display: block;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-top: 10px; }

.create-repo {
  width: 480px; }
  .create-repo .form {
    width: 100%; }
    .create-repo .form__input, .create-repo .form__label {
      width: 100%; }

.button {
  background: #2680a4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  outline: none; }
  .button:hover {
    background: #1c607b;
    color: white; }

input[type="text"], input[type="email"], input[type="password"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: white;
  color: #333333;
  border: 1px solid #e0e4e7;
  border-radius: 0;
  padding: 7px 10px;
  outline: none; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #2680a4; }

.form:first-child {
  margin-bottom: 50px; }

.form__title {
  font-weight: bold;
  margin-bottom: 15px; }

.form__error {
  margin-bottom: 10px;
  color: #d15555; }

.form__group {
  margin-bottom: 10px; }
  .form__group-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.form__username-tag {
  color: #333333;
  background: #edf0f2;
  padding: 7px 10px;
  height: 33px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content; }

.form__radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-right: 20px; }
  .form__radio input {
    margin-right: 3px; }

.form label, .form__input {
  display: block; }

.form label {
  margin-bottom: 5px; }

.form__input {
  width: 300px; }

.form__submit-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form i {
  color: #d15555;
  font-style: normal;
  margin-left: 2px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 50px; }
  .header__menu__item {
    margin-right: 20px;
    color: #8d8d8d; }
    .header__menu__item:hover, .header__menu__item--active {
      color: #333333; }
    .header__menu__item:last-child {
      margin-right: 0; }
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333333; }
    .header__right a {
      text-decoration: none;
      color: #8d8d8d;
      margin-left: 20px; }
      .header__right a:first-child {
        margin-left: 0; }
      .header__right a:hover {
        color: #333333; }

.onboard {
  width: 300px; }
  .onboard__form:first-child {
    margin-bottom: 50px; }
  .onboard__form__title {
    font-weight: bold;
    margin-bottom: 15px; }
  .onboard__form__error {
    margin-bottom: 10px;
    color: #d15555; }
  .onboard__form__group {
    margin-bottom: 10px; }
    .onboard__form__group-sub {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .onboard__form__username-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333333;
    background: #edf0f2;
    padding: 7px 10px;
    height: 33px; }
  .onboard__form label, .onboard__form__input {
    display: block; }
  .onboard__form label {
    margin-bottom: 5px; }
  .onboard__form__input {
    width: 300px; }
  .onboard__form__submit-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .onboard__form i {
    color: #d15555;
    font-style: normal;
    margin-left: 2px; }

.git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .git__repos {
    width: 610px; }
    .git__repos li {
      background: #edf0f2;
      padding: 10px;
      margin-bottom: 10px; }
    .git__repos a {
      display: block;
      margin-bottom: 5px;
      font-weight: bold; }
      .git__repos a i {
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: white;
        background: #8d8d8d;
        padding: 2px;
        margin-left: 2px; }

.repo__title {
  font-weight: bold; }

.repo__description {
  margin-top: 5px; }

.repo__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px; }
  .repo__summary li {
    background: #edf0f2;
    padding: 10px;
    margin-bottom: 10px; }
    .repo__summary li:last-child {
      margin-bottom: 0; }
    .repo__summary li div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 5px; }

.repo__latest-commits {
  width: 470px; }

.repo__clone__title {
  font-weight: bold; }

.repo__clone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 340px;
  margin-top: 5px; }
  .repo__clone__item input[type="text"] {
    width: 300px; }

.repo__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  border-bottom: 1px solid #edf0f2; }
  .repo__menu__item {
    color: #333333;
    margin-right: 20px;
    padding: 7px 10px; }
    .repo__menu__item:hover {
      background: #edf0f2;
      color: #333333; }
    .repo__menu__item--active {
      background: #edf0f2; }
    .repo__menu__item:last-child {
      margin-right: 0; }

.repo__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #edf0f2;
  padding: 10px; }
  .repo__sub-menu__item {
    margin-right: 20px; }
    .repo__sub-menu__item:last-child {
      margin-right: 0; }
  .repo__sub-menu .branch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .repo__sub-menu .branch p {
      margin-right: 5px; }
    .repo__sub-menu .branch select {
      height: 20px; }
  .repo__sub-menu .path {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .repo__sub-menu .path p {
      margin-right: 5px; }

.readme, .repo-tree, .file-viewer {
  margin-top: 20px; }

.readme h2 {
  font-size: 17px;
  margin-bottom: 5px; }

.readme h3 {
  font-size: 15px;
  margin-bottom: 5px; }

.readme p {
  margin-bottom: 15px; }
  .readme p code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 14px;
    background: #edf0f2;
    padding: 5px; }

.readme pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  background: #edf0f2;
  padding: 10px; }

.repo-tree a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #e0e4e7; }

.repo-tree__file {
  color: #333333; }
  .repo-tree__file:hover {
    text-decoration: underline; }

.file-viewer {
  border: 1px solid #e0e4e7;
  padding: 10px; }
  .file-viewer .hljs {
    background: white;
    color: #333333;
    padding: 0;
    overflow: hidden; }
