* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 800px;
  margin: 20px;
  font-family: sans-serif;
  font-size: 14px;
  color: #333333; }

a {
  text-decoration: none;
  color: #2680a4;
  outline: none; }
  a:hover {
    color: #185066; }

p {
  line-height: 20px; }

ul {
  list-style: none; }

pre {
  overflow-x: auto; }
  pre code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 14px; }
    pre code table, pre code tbody, pre code tr {
      width: 100%; }
    pre code tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    pre code .hljs-ln-numbers {
      display: inline-block;
      width: 20px;
      font-size: 12px;
      color: #8d8d8d;
      text-align: right;
      margin-right: 20px;
      cursor: pointer; }
      pre code .hljs-ln-numbers:hover .hljs-ln-line.hljs-ln-n {
        color: #333333; }

.container {
  margin: 30px 0; }
  .container__info {
    width: 210px; }
    .container__info .button {
      display: block;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-top: 10px; }

.button {
  background: #2680a4;
  color: white;
  border: none;
  padding: 7px 10px;
  cursor: pointer; }
  .button:hover {
    background: #1c607b;
    color: white; }

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid #e0e4e7;
  border-radius: 0;
  padding: 7px 10px; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #2680a4; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo {
    font-family: "PT Mono", monospace;
    font-size: 20px;
    text-decoration: none;
    color: #2680a4;
    outline: none;
    margin-right: 50px; }
    .header__logo:hover {
      color: #2680a4; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .header__menu li {
      margin-right: 20px; }
      .header__menu li:last-child {
        margin-right: 0; }
    .header__menu__item {
      text-decoration: none;
      color: #8d8d8d; }
      .header__menu__item:hover, .header__menu__item--active {
        color: #333333; }
  .header__profile {
    color: #333333; }
    .header__profile a {
      text-decoration: none;
      color: #8d8d8d; }
      .header__profile a:hover {
        color: #333333; }

.onboard {
  width: 300px; }
  .onboard__form:first-child {
    margin-bottom: 50px; }
  .onboard__form__title {
    font-weight: bold;
    margin-bottom: 15px; }
  .onboard__form__error {
    margin-top: -8px;
    margin-bottom: 10px;
    color: #d15555; }
  .onboard__form__group {
    margin-bottom: 10px; }
  .onboard__form label, .onboard__form__input {
    display: block; }
  .onboard__form label {
    margin-bottom: 5px; }
  .onboard__form__input {
    width: 300px; }
  .onboard__form__submit-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .onboard__form i {
    color: #d15555;
    font-style: normal;
    margin-left: 2px; }

.git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .git__repos {
    width: 560px; }
    .git__repos li {
      background: #edf0f2;
      padding: 10px;
      margin-bottom: 10px; }
    .git__repos a {
      display: block;
      margin-bottom: 5px;
      font-weight: bold; }

.repo__title {
  font-weight: bold; }

.repo__description {
  margin-top: 5px; }

.repo__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  border-bottom: 1px solid #edf0f2; }
  .repo__menu__item {
    color: #333333;
    margin-right: 20px;
    padding: 7px 10px; }
    .repo__menu__item:hover {
      background: #edf0f2;
      color: #333333; }
    .repo__menu__item--active {
      background: #edf0f2; }

.repo__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #edf0f2;
  padding: 10px; }
  .repo__sub-menu__item {
    margin-right: 20px; }

.repo__branch {
  font-family: sans-serif;
  font-size: 14px;
  margin-right: 20px; }

.repo__path {
  line-height: 20px; }

.readme, .repo-tree, .file-viewer {
  margin-top: 20px; }

.repo-tree a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #e0e4e7; }

.repo-tree__file {
  color: #333333; }
  .repo-tree__file:hover {
    text-decoration: underline; }

.file-viewer {
  border: 1px solid #e0e4e7;
  padding: 10px; }
  .file-viewer .hljs {
    background: white;
    color: #333333;
    padding: 0;
    overflow: hidden; }
