{{define "title"}}{{ .Reponame }} - File viewer{{end}}
{{define "content"}}
<main class="container repo">
    {{template "repo-header" .}}
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/browse/master" class="repo__menu__item repo__menu__item--active">browse</a>
        <a href="/r/{{ .Reponame }}/commits/master" class="repo__menu__item">commits</a>
        <a href="/r/{{ .Reponame }}/releases" class="repo__menu__item">refs</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{if .IsLoggedIn}}
            {{if .RepoAccess}}
            <a href="/r/{{ .Reponame }}/settings" class="repo__menu__item">settings</a>
            {{end}}
        {{end}}
    </div>
    {{if .IsRepoBranch}}
    <div class="repo__sub-menu">
        <div class="repo__sub-menu__item branch">
            <form method="get" action="" class="form">
                <div class="form__group">
                    <label for="branchSelect">branch:</label>
                    <select id="branchSelect" onchange="branchChange(this.value)">
                        {{range .RepoBranches}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </div>
            </form>
        </div>
    </div>
    {{end}}
    <div class="path">
        {{if .RepoDetail.PathEmpty}}
        {{else}}
        <p>path:</p>
        <div>{{.RepoDetail.LegendPath}}</div>
        {{end}}
    </div>
    <div class="file-viewer">
        {{.RepoDetail.FileContent}}
    </div>
    <script src="/public/js/branch-selection.js"></script>
    {{if eq .SiteStyle "dark"}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/railscasts.min.css">
    {{else}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
    {{end}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
    <script src="/public/js/codelines-selection.js"></script>
</main>
{{end}}
