{{define "favicon"}}
    {{if .SiteSettings.IsSiteFavicon}}
    <link rel="icon" type="image/{{.SiteSettings.SiteFaviconExt}}" href="/uploads{{.SiteSettings.SiteFavicon}}" />
    {{else}}
    <link rel="icon" type="image/{{.SiteSettings.SiteFaviconExt}}" href="/public/img/sorcia_favicon.png" />
    {{end}}
{{end}}
{{define "style"}}
    {{if eq .SiteSettings.SiteStyle "classic"}}
    <link rel="stylesheet" href="/public/css/style_classic.min.css" />
    {{else if eq .SiteSettings.SiteStyle "dark"}}
    <link rel="stylesheet" href="/public/css/style_dark.min.css" />
    {{else}}
    <link rel="stylesheet" href="/public/css/style.min.css" />
    {{end}}
{{end}}
{{define "header"}}
    {{if .IsLoggedIn}}
    <header class="header">
        <div class="header__left">
            <a href="/">home</a>
            <input type="text" placeholder="Type here to search.." />
        </div>
        <div class="header__right">
            {{if eq .HeaderActiveMenu "meta"}}
            <a href="/meta" class="header__right__item header__right__item--active">meta</a>
            <a href="/logout" class="header__right__item">logout</a>
            {{else}}
            <a href="/create-repo" class="button button--primary">Create new repository</a>
            <a href="/meta" class="header__right__item">meta</a>
            <a href="/logout" class="header__right__item">logout</a>
            {{end}}
        </div>
    </header>
    {{else}}
    <header class="header">
        <div class="header__left">
            <a href="/">home</a>
        </div>
        {{if .ShowLoginMenu}}
        <div class="header__right">
            <a href="/login" class="header__right__item">login</a>
        </div>
        {{end}}
    </header>
    {{end}}
{{end}}