{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "favicon" .}}
    <title>{{template "title" .}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {{template "style" .}}
</head>

<body>
    {{template "header" .}}
    {{template "content" .}}
    {{template "footer" .}}
    
    <div id="overlay"></div>
    <script src="/public/js/init.js"></script>
</body>

</html>
{{end}}
