{{define "title"}}{{ .Reponame }} - Refs{{end}}
{{define "content"}}
<main class="container repo">
    {{template "repo-header" .}}
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/browse/master" class="repo__menu__item">browse</a>
        <a href="/r/{{ .Reponame }}/commits/master" class="repo__menu__item">commits</a>
        <a href="/r/{{ .Reponame }}/releases" class="repo__menu__item repo__menu__item--active">releases</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{if .IsLoggedIn}}
            <a href="/r/{{ .Reponame }}/settings" class="repo__menu__item">settings</a>
        {{end}}
    </div>
    <div class="repo-refs">
        {{range .RepoRefs}}
        <div class="repo-refs__info">
            <div class="repo-refs__version">{{.Version}}</div>
            <div class="repo-refs__files">
                <a href="{{.TargzPath}}">{{.Targz}}</a>
                <a href="{{.ZipPath}}">{{.Zip}}</a>
            </div>
            <div class="repo-refs__message">{{.Message}}</div>
        </div>
        {{end}}
    </div>
</main>
{{end}}
