{{define "repo-header"}}
<div class="repo__menu">
  <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
  <a href="/r/{{ .Reponame }}/tree/master" class="repo__menu__item repo__menu__item--active">tree</a>
  <a href="/r/{{ .Reponame }}/log/master" class="repo__menu__item">log</a>
  <a href="/r/{{ .Reponame }}/refs" class="repo__menu__item">refs</a>
  <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
  {{if .IsLoggedIn}}
      <a href="/r/{{ .Reponame }}/meta" class="repo__menu__item">meta</a>
  {{end}}
</div>
<div class="repo__sub-menu">
  <div class="repo__sub-menu__item branch">
      <form method="get" action="" class="form">
          <div class="form__group">
              <label for="branchSelect">branch:</label>
              <select id="branchSelect" onchange="branchChange(this.value)">
                  {{range .RepoBranches}}
                  <option value="{{.}}">{{.}}</option>
                  {{end}}
              </select>
          </div>
      </form>
  </div>
</div>
{{end}}