{{define "title"}}{{ .Reponame }} - Settings{{end}}
{{define "content"}}
<main class="container repo">
    {{template "repo-header" .}}
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        {{if eq .RepoEmpty false}}
        <a href="/r/{{ .Reponame }}/browse/master" class="repo__menu__item">browse</a>
        <a href="/r/{{ .Reponame }}/commits/master" class="repo__menu__item">commits</a>
        <a href="/r/{{ .Reponame }}/releases" class="repo__menu__item">releases</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{end}}
        {{if .IsLoggedIn}}
            <a href="/r/{{ .Reponame }}/settings" class="repo__menu__item repo__menu__item--active">settings</a>
        {{end}}
    </div>
    {{if .IsLoggedIn}}
    <div class="repo__meta">
        {{if .RepoAccess}}
        <form class="form repo__meta__form" method="POST" action="/r/{{.Reponame}}/settings">
            <div class="form__title meta__form__title">general</div>
            <div class="form__error">{{ .ReponameErrMessage }}</div>
            <div class="form__group">
                <label for="repoName">Repository name</label>
                <input type="text" class="form__input" id="repoName" name="name" value="{{.Reponame}}" autocomplete="off" spellcheck="false" />
            </div>
            <div class="form__group">
                <label for="repoDescription">Description<i>*</i></label>
                <input type="text" class="form__input" id="repoDescription" name="description" value="{{.RepoDescription}}" autocomplete="off" spellcheck="false" />
            </div>
            <div class="form__group form__radio-group">
                {{if eq .IsRepoPrivate true}}
                <div class="form__radio">
                    <input type="radio" name="is_private" value="0" id="repoPublic" />
                    <label for="repoPublic">Public</label>
                </div>
                <div class="form__radio">
                    <input type="radio" name="is_private" value="1" id="repoPrivate" checked />
                    <label for="repoPrivate">Private</label>
                </div>
                {{else}}
                <div class="form__radio">
                    <input type="radio" name="is_private" value="0" id="repoPublic" checked />
                    <label for="repoPublic">Public</label>
                </div>
                <div class="form__radio">
                    <input type="radio" name="is_private" value="1" id="repoPrivate" />
                    <label for="repoPrivate">Private</label>
                </div>
                {{end}}
            </div>
            <input type="submit" class="button button--primary" value="Save" />
        </form>
        <form class="form repo__meta__add-user__form" method="POST" action="/r/{{.Reponame}}/settings/user">
            <div class="form__title meta__add-user__form-title">add user and set access</div>
            <div class="form__error">{{ .RepoUserAddError }}</div>
            <div class="form__group">
                <label for="userName">Username</label>
                <input type="text" class="form__input" id="userName" name="username" value="" autocomplete="off" spellcheck="false" />
            </div>
            <div class="form__group form__radio-group">
                {{if .IsRepoPrivate}}
                <div class="form__radio">
                    <input type="radio" name="is_readorwrite" value="read" id="read" checked />
                    <label for="read">Read</label>
                </div>
                <div class="form__radio">
                    <input type="radio" name="is_readorwrite" value="read/write" id="readOrWrite" />
                    <label for="readOrWrite">Read/Write</label>
                </div>
                {{else}}
                <div class="form__radio">
                    <input type="radio" name="is_readorwrite" value="read/write" id="readOrWrite" checked />
                    <label for="readOrWrite">Read/Write</label>
                </div>
                {{end}}
            </div>
            <input type="submit" class="button button--primary" value="Add user" />
        </form>
        {{end}}
        <div class="repo__meta__users">
            <div class="repo__meta__users__title">Users</div>
            {{range .RepoMembers.RepoMembers}}
            <div class="repo__meta__users__item">
                <p>{{.Username}}</p>
                {{if .IsOwner}}
                    <p class="owner">[Owner]</p>
                {{end}}
                <p>({{.Permission}})</p>
                {{if not .IsOwner}}
                <a onclick="return confirm('Are you sure, you want to remove this user?');" href="/r/{{$.Reponame}}/settings/user/remove/{{.Username}}" class="button button--danger">Remove</a>
                {{end}}
            </div>
            {{end}}
        </div>
        {{if .RepoAccess}}
        <form class="form repo__meta__delete__form" method="POST" action="/r/{{.Reponame}}/settings/delete" onsubmit="return confirm('This will permanently delete your repository and cannot be undone. Are you sure?');">
            <div class="form__title meta__delete__form-title">delete this repository</div>
            <input type="submit" class="button button--danger" value="Delete" />
        </form>
        {{end}}
    </div>
    {{end}}
</main>
{{end}}
