{{define "title"}}settings - General{{end}}
{{define "content"}}
<main class="container meta">
    <div class="repo__menu">
        <a href="" class="repo__menu__item repo__menu__item--active">general</a>
        <a href="/settings/keys" class="repo__menu__item">keys</a>
        <a href="/settings/users" class="repo__menu__item">users</a>
    </div>
    <div class="meta__detail">
        <form class="form meta__detail__form" method="POST" action="/settings/password">
            <div class="form__title">your profile</div>
            <div class="meta__error"></div>
            <div class="form__group">
                <label for="profileUsername">Username (You can't edit this - ask the server/sys admin to change username)</label>
                <input type="text" class="form__input" id="profileUsername" name="username" value="{{.Username}}" autocomplete="off" spellcheck="false" readonly="" />
            </div>
            <div class="form__group">
                <label for="profilePassword">Password (Type in your new password in order to update)<i>*</i></label>
                <input type="password" class="form__input" id="profilePassword" name="password" value="" autocomplete="off" spellcheck="false" required />
            </div>
            <input type="submit" class="button button--primary" value="Save" />
        </form>
        {{if .IsAdmin}}
        <form class="form meta__detail__form meta__detail__form--site-settings" method="POST" action="/settings/site" enctype="multipart/form-data">
            <div class="form__title">site settings</div>
            <div class="meta__detail__form__info">None of these form fields are mandatory, you can change any one of these or all of it below if you wish.</div>
            <div class="meta__error"></div>
            <div class="form__group">
                <label for="siteTitle">Title</label>
                {{if .SiteSettings.IsSiteTitle}}
                <input type="text" class="form__input" id="siteTitle" name="title" value="{{.SiteSettings.SiteTitle}}" autocomplete="off" spellcheck="false" />
                {{else}}
                <input type="text" class="form__input" id="siteTitle" name="title" value="sorcia - Self-hosted web frontend for git repositories written in Go" autocomplete="off" spellcheck="false" />
                {{end}}
            </div>
            <div class="form__group">
                <label for="siteFavicon">Favicon (Supports png/jpg formats. Max-size: 2 MB)</label>
                <div class="meta__detail__form__current">
                    {{if .SiteSettings.IsSiteFavicon}}
                        <div>Current favicon:</div>
                        <img src="/uploads{{.SiteSettings.SiteFavicon}}" width="20px" height="20px" />
                    {{end}}
                </div>
                <input type="file" class="form__input" id="siteFavicon" name="favicon" />
            </div>
            <div class="form__group">
                <label for="siteLogo">Logo (Supports svg/png/jpg formats. Max-height: 30px, Max-width: 200px. Max-size: 10 MB)</label>
                <div class="meta__detail__form__current">
                    {{if .SiteSettings.IsSiteFavicon}}
                        <div>Current logo:</div>
                        {{if .SiteSettings.IsSiteLogoSVG}}
                        <img src="/uploads{{.SiteSettings.SiteLogo}}" />
                        <!-- {{.SiteSettings.SVGDAT}} -->
                        {{else}}
                        <img src="/uploads{{.SiteSettings.SiteLogo}}" width="{{.SiteSettings.SiteLogoWidth}}px" height="{{.SiteSettings.SiteLogoHeight}}px" />
                        {{end}}
                    {{end}}
                </div>
                <input type="file" class="form__input" id="siteLogo" name="logo" />
            </div>
            <div class="form__group">
                <label>Appearance</label>
                <div class="radio__group">
                    {{if eq .SiteSettings.SiteStyle "classic"}}
                    <div>
                        <input type="radio" id="styleDefault" name="style" value="default" />
                        <label for="styleDefault">Default</label>
                    </div>
                    <div>
                        <input type="radio" id="styleClassic" name="style" value="classic" checked />
                        <label for="styleClassic">Classic</label>
                    </div>
                    <div>
                        <input type="radio" id="styleDark" name="style" value="dark" />
                        <label for="styleDark">Dark</label>
                    </div>
                    {{else if eq .SiteSettings.SiteStyle "dark"}}
                    <div>
                        <input type="radio" id="styleDefault" name="style" value="default" />
                        <label for="styleDefault">Default</label>
                    </div>
                    <div>
                        <input type="radio" id="styleClassic" name="style" value="classic" />
                        <label for="styleClassic">Classic</label>
                    </div>
                    <div>
                        <input type="radio" id="styleDark" name="style" value="dark" checked />
                        <label for="styleDark">Dark</label>
                    </div>
                    {{else}}
                    <div>
                        <input type="radio" id="styleDefault" name="style" value="default" checked />
                        <label for="styleDefault">Default</label>
                    </div>
                    <div>
                        <input type="radio" id="styleClassic" name="style" value="classic" />
                        <label for="styleClassic">Classic</label>
                    </div>
                    <div>
                        <input type="radio" id="styleDark" name="style" value="dark" />
                        <label for="styleDark">Dark</label>
                    </div>
                    {{end}}                    
                </div>
            </div>
            <input type="submit" class="button button--primary" value="Save" />
        </form>
        {{end}}
    </div>
</main>
{{end}}