// Brand colors
$brand-primary: #64c7ff;
$brand-border: #515151;
$brand-danger: #d15555;

$brand-bg: #282828;
$brand-bg-1: #626262;

// Text color
$text-color: white;
$text-color-2: #333333;
$text-color-3: black;

// Button color
$button-primary: #e6e6e6;

// Highlight js
$hljs-bg: #222222;

// Default font
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "DejaVu Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Source code font
$font-source-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;