app_mode = production
version = 0.1.0-alpha

[paths]
project_root = /home/git/sorcia
repo_path = /home/git/repositories
db_path = /home/git
ssh_path = /home/git/ssh

[server]
http_port = 1937
ssh_port = 22