app_mode = production
version = 0.2.0

[paths]
project_root = /home/git/sorcia
repo_path = /home/git/repositories
refs_path = /home/git/refs
db_path = /home/git
ssh_path = /home/git/ssh

[server]
http_port = 1937
ssh_port = 22