[Unit]
Description=sorcia web service
After=network.target

[Service]
ExecStart=/usr/bin/sudo ./sorcia web
TimeoutStartSec=3600
Restart=always
RestartSec=10
WorkingDirectory=/home/git/sorcia
User=root
Group=root

[Install]
WantedBy=multi-user.target