.meta {
    &__detail {
        margin-top: 20px;

        &__form {
            &--site-settings {
                & .form__title {
                    margin-bottom: 5px;
                }
            }

            &__info {
                margin-bottom: 15px;
            }

            &__current {
                margin-bottom: 10px;

                & div {
                    margin-bottom: 5px;
                }
            }
        }
    }

    #profileUsername, #profileEmail {
        background: $brand-bg-1;

        &:focus {
            border: 1px solid #e0e4e7;
        }
    }

    textarea {
        width: 600px;
        min-height: 100px;
    }

    &__keys, &__users {
        &__title {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &__item {
            background: $brand-bg-1;
            margin-bottom: 10px;
            padding: 10px;
            overflow: hidden;

            & div {
                font-weight: bold;
                margin-bottom: 5px;
            }

            & p {
                margin-bottom: 10px;
            }

            & a {
                float: left;
            }

            & .admin {
                font-weight: bold;
            }
        }
    }

    &__users {
        &__title {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &__table {
            & th, & td {
                border: 1px solid $brand-border;
                padding: 7px 10px;
            }
        }
    }
}