.git {
    display: flex;
    justify-content: space-between;

    &__repos {
        width: 710px;

        &__title {
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        & li {
            background: $brand-bg-1;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: bold;
        }
        
        & a {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            word-wrap: break-word;
            text-decoration: none;
        }

        & i {
            display: inline-block;
            font-weight: normal;
            font-style: normal;
            font-size: 15px;
            color: white;
            background: $text-color-2;
            text-decoration: none;
            padding: 2px 4px;
            margin-left: 7px;
        }

        & p {
          font-size: 18px;
          font-weight: normal;
        }
    }
}

.repo {
    &__header {
        display: flex;
        justify-content: space-between;

        &__right {
            display: flex;
            align-items: center;
            justify-content: center;
            
            & a {
                cursor: pointer;

                &.star-count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 37px;
                    color: $text-color-2;
                    border: 1px solid $brand-border;
                    border-left: none;

                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: bold;

        & i {
            display: inline-block;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            color: white;
            text-decoration: none;
            background: $text-color-2;
            padding: 2px 4px;
            margin-left: 2px;
        }
    }

    &__description {
        margin-top: 7px;
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        & li {
            background: $brand-bg-1;
            padding: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            & div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }

        &__right {
          width: 410px;
        }
    }

    &__latest-commits {
        width: 520px;

        & li {
            & div { 
                display: flex;
                align-items: start;

                & p {
                    &:first-child {
                        display: flex;
                        align-items: start;

                        & a {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    &__log {
        width: 100%;
        margin-top: 20px;

        &__info {
            display: flex;
            align-items: flex-start;

            & a {
                margin-right: 5px;
            }
        }

        &__dp {
            margin: 0 5px;
        }

        & li {
            background: $brand-bg-1;
            padding: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            & div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }
    }

    &__pagination {
        margin-top: 20px;
        overflow: hidden;
        & a {
            float: right;
        }
    }

    &__clone {
        margin-top: 20px;
        
        &__title {
            font-weight: bold;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 410px;
            margin-top: 5px;

            & input[type="text"] {
                width: 360px;
            }
        }
    }

    &__owner {
        &__title {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }

    &__menu {
        display: flex;
        margin-top: 25px;
        border-bottom: 1px solid $brand-border;
        
        &__item {
            color: $text-color;
            margin-right: 20px;
            padding: 7px 10px;
            text-decoration: none;

            &:hover {
                background: $brand-bg-1;
                color: $text-color;
            }

            &--active {
                background: $brand-bg-1;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__sub-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        background: $brand-bg-1;
        padding: 10px;

        &__item {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        & .branch {
            display: flex;
            align-items: center;
            margin-right: 20px;

            & p {
                margin-right: 5px;
            }

            & select {
                height: 20px;
            }
        }

        &__bullet {
            float: left;
            color: $text-color-2;
            margin-right: 10px;
        }
    }
}

.readme, .repo-tree, .file-viewer {
    margin-top: 20px;
}

.readme {
    & h1, & h2, & h3, &h4 , &h5, &h6 {
        margin-bottom: 10px;
        border-bottom: 1px solid $brand-border;
    }

    & p {
        margin-bottom: 20px;
    }

    & ul, & ol {
        list-style: inherit;
        margin: 0 20px 15px;
    }

    & li {
        margin-bottom: 10px;
        line-height: 26px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & pre, & code {
        font-family: $font-source-code;
        font-size: 16px;
        line-height: 28px;
        background: $brand-bg-1;
    }

    & pre {
        margin-bottom: 20px;
        padding: 5px;
    }
}

.repo-tree {
    &__info {
        padding: 5px;
        border-bottom: 1px solid $brand-border;
        overflow: hidden;
        display: flex;

        &:last-child {
            border-bottom: none;
        }

        & a {
            cursor: pointer;
            
            &:first-child {
                float: left;
                width: 160px;
                margin-right: 20px;
                word-wrap: break-word;
                flex: 0 1 auto;
            }
        }

        &__message {
            float: left;
            width: 420px;
            margin-right: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $text-color;
            flex: 1 1 auto;

            &:hover {
                text-decoration: underline;
            }
        }

        &__date {
            float: left;
            width: 130px;
            word-wrap: break-word;
            text-align: right;
            opacity: 0.7;
        }
    }

    &__file {
        color: $text-color;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__directory {
        font-weight: $folder-font-weight;
    }
}

.repo-refs {
    &__info {
        background: $brand-bg-1;
        margin-bottom: 10px;
        padding: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__files {
        display: flex;
        margin-top: 10px;

        & a {
            text-decoration: underline;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__version {
        font-weight: bold;
    }

    &__message {
        margin-top: 10px;
    }
}

.repo-contributors {
    &__info {
        background: $brand-bg-1;
        margin-bottom: 10px;
        padding: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        display: flex;
        margin-bottom: 10px;
        
        & img {
            margin-right: 5px;
        }
    }

    &__name {
        word-wrap: break-word;
    }

    &__commits {
        font-weight: bold;
    }
}

.latest-commit {
    display: flex;
    align-items: center;
    border: 1px solid $brand-border;
    padding: 10px;

    & img {
        margin-right: 5px;
    }

    &__name {
        font-weight: bold;
        margin-right: 10px;
    }

    & a {
        text-decoration: underline;
        color: darken($color: $brand-primary, $amount: 15%);
        margin-right: 10px;
    }

    &__date {
        opacity: 0.8;
    }
}

.path {
    display: flex;
    align-items: center;
    border: 1px solid $brand-border;
    padding: 10px;

    & p {
        margin-right: 5px;
    }
}

.branch {
    & form {
        margin-bottom: 0 !important;
    }

    & .form__group {
        display: flex;
        align-items: baseline;
        margin-bottom: 0 !important;

        & label {
            margin-right: 5px;
        }
    }
}

.repo-commit {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__description {
        background: $brand-bg-1;
        padding: 10px;
    }

    &__hash {
        font-weight: bold;
    }

    &__profile {
        display: flex;
        margin-top: 10px;

        & img {
            margin-right: 5px;
        }
    }

    &__message {
        margin-top: 10px;
    }

    &__status {
        background: $brand-bg-1;
        margin-top: 20px;
        padding: 10px;
    }

    &__files-changed {
        margin-top: 15px;

        & div {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            & p {
                margin-right: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__code-lines {
        margin-top: 20px;
    }

    &__file {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        & p {
            margin-right: 10px;
        }

        & div {
            display: flex;
            align-items: center;
        }

        & i {
            font-style: normal;
            margin: 0 10px;
        }
    }

    &__code-line {
        background: $brand-bg-1;
        margin-bottom: 30px;
        padding: 10px;

        & div {
            margin: 15px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        & .hljs {
            line-height: 0;
        }

        & .green {
            background-color: $hljs-code-green;
        }

        & .red {
            background-color: $hljs-code-red;
        }
    }
}

.repo__meta {
    margin-top: 20px;

    & #repoName, & #repoDescription {
        width: 480px;
    }

    & form {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__users {
        margin-bottom: 50px;
        overflow: hidden;

        &__title {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &__item {
            background: $brand-bg-1;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            
            & p {
                margin-right: 5px;

                &.owner {
                    font-weight: bold;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
