{{define "title"}}{{.Username}} | create repo{{end}}
{{define "content"}}
<main class="container create-repo">
    <form method="post" action="/create-repo" class="form create-repo__form">
        <div class="form__title">create new repository</div>
        <div class="form__group">
            <label for="repoName">Name<i>*</i></label>
            <div class="form__group-sub">
                <div class="form__username-tag">+{{ .Username }} /</div>
                <input type="text" class="form__input" id="repoName" name="name" maxlength="100" autocomplete="off" spellcheck="false" required="required" />
            </div>
        </div>
        <div class="form__group">
            <label for="repoDescription">Description</label>
            <input type="text" class="form__input" id="repoDescription" name="description" autocomplete="off" spellcheck="false" required="required" />
        </div>
        <div class="form__group form__radio-group">
            <div class="form__radio">
                <input type="radio" name="is_private" value="0" id="repoPublic" checked />
                <label for="repoPublic">Public</label>
            </div>
            <div class="form__radio">
                <input type="radio" name="is_private" value="1" id="repoPrivate" />
                <label for="repoPrivate">Private</label>
            </div>
        </div>
        <input type="submit" class="button button--primary" value="Create" />
    </form>
</main>
{{end}}