{{define "title"}}{{ .Reponame }}{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="/r/{{ .Reponame }}">{{ .Reponame }}</a> {{if eq .IsRepoPrivate true}} <i>private</i> {{end}} </div>
            <div class="repo__description">Self-hosted multi-user free(libre) ebook reader.</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/tree" class="repo__menu__item repo__menu__item--active">tree</a>
        <a href="/r/{{ .Reponame }}/log" class="repo__menu__item">log</a>
        <a href="" class="repo__menu__item">refs</a>
        <a href="" class="repo__menu__item">contributors</a>
        <a href="" class="repo__menu__item">meta</a>
    </div>
    <div class="repo__sub-menu">
        <div class="repo__sub-menu__item branch">
            <p>branch:</p>
            <select>
                <option value="master" selected="">master</option>
                <option value="devel">devel</option>
            </select>
        </div>
        <div class="repo__sub-menu__item path">
            {{if .RepoDetail.PathEmpty}}
            {{else}}
            <p>path:</p>
            <div>{{.RepoDetail.LegendPath}}</div>
            {{end}}
        </div>
    </div>
    <div class="file-viewer">
        {{.RepoDetail.FileContent}}
    </div>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
                hljs.initLineNumbersOnLoad();
            });
        });
    </script>
</main>
{{end}}