{{define "title"}}{{ .Reponame }}{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="/r/{{ .Reponame }}">{{ .Reponame }}</a> {{if eq .IsRepoPrivate true}} <i>private</i> {{end}} </div>
            <div class="repo__description">Self-hosted multi-user free(libre) ebook reader.</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/tree" class="repo__menu__item repo__menu__item--active">tree</a>
        <a href="/r/{{ .Reponame }}/log" class="repo__menu__item">log</a>
        <a href="" class="repo__menu__item">refs</a>
        <a href="" class="repo__menu__item">contributors</a>
        <a href="" class="repo__menu__item">meta</a>
    </div>
    <div class="repo__sub-menu">
        <div class="repo__sub-menu__item branch">
            <p>branch:</p>
            <select>
                <option value="master" selected="">master</option>
                <option value="devel">devel</option>
            </select>
        </div>
        <div class="repo__sub-menu__item path">
            {{if .RepoDetail.PathEmpty}}
            {{else}}
            <p>path:</p>
            <div>{{.RepoDetail.LegendPath}}</div>
            {{end}}
        </div>
    </div>
    <div class="file-viewer">
        {{.RepoDetail.FileContent}}
    </div>
    <link rel="stylesheet" href="/public/css/hljs.github.min.css">
    <script src="/public/js/highlight.min.js"></script>
    <script src="/public/js/highlightjs-line-numbers.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {

            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
                hljs.initLineNumbersOnLoad();
            });
        });

        window.onload = function() {
            // Add ID attribute to hljs elements/codelines.
            function hljsOnLoadAddID() {
                var hljs = document.querySelectorAll('pre > code > table > tbody > tr');
                if (hljs.length) {
                    for (i = 0; i < hljs.length; ++i) {
                        var lineNumber = hljs[i].firstChild.getAttribute('data-line-number');
                        hljs[i].firstChild.setAttribute("id", "L"+lineNumber);
                    }
                } else {
                    setTimeout(hljsOnLoadAddID, 15);
                }
            }

            hljsOnLoadAddID();

            function hljsOnLoadScrollIntoView() {
                var hljs = document.querySelectorAll('pre > code > table > tbody > tr');
                if (hljs.length) {
                    var url = window.location.href;
                    var previousID, currentID;

                    if (url.split('#')[1]) {
                        if (url.split('#')[1].split('-')[1]) {
                            previousID = url.split('#')[1].split('-')[0];
                            currentID = url.split('#')[1].split('-')[1];
                            applyMultipleCodeLinesBg(previousID, currentID);

                            if (previousID < currentID) {
                                document.getElementById(previousID).scrollIntoView();
                            } else {
                                document.getElementById(currentID).scrollIntoView();
                            }
                        } else {
                            currentID = url.split('#')[1];
                            applyCodeLineBg(currentID);

                            document.getElementById(currentID).scrollIntoView();
                        }
                    } else {
                        console.log('no')
                    }
                } else {
                    setTimeout(hljsOnLoadScrollIntoView, 15);
                }
            }

            hljsOnLoadScrollIntoView();

            window.onclick = function(e) {
                if (e.target.className == 'hljs-ln-n') {
                    if (e.shiftKey) {
                        var hljsLine = document.getElementsByClassName('hljs-ln-line');
                        for (i = 0; i < hljsLine.length; ++i) {
                            if(hljsLine[i].parentElement.hasAttribute('style')) {
                                var previousID = hljsLine[i].getAttribute('id');
                                var currentID = e.target.parentElement.getAttribute('id');
                                if (previousID == currentID) {
                                    break;
                                } else {
                                    applyMultipleCodeLinesBg(previousID, currentID);
                                    // Update URL parameter to the combined lines ID
                                    var url = window.location.href;
                                    var newurl = url.split('#')[0] + '#' + previousID + '-' + currentID;
                                    window.location.href = newurl;
                                }

                                applyMultipleCodeLinesBg(previousID, currentID);

                                break;
                            }
                        }
                    } else {
                        var currentID = e.target.parentElement.getAttribute('id');
                        applyCodeLineBg(currentID);
                    }
                }
            }

            function applyCodeLineBg(currentID) {
                removeCodeLineBg();

                // Apply line background to the current ID element
                console.log(document.getElementById(currentID));
                document.getElementById(currentID).parentElement.style.background = '#CDF0FD';

                // Update URL parameter to the Line ID
                var url = window.location.href;
                var newurl = url.split('#')[0] + '#' + currentID;
                window.location.href = newurl;
            }

            function applyMultipleCodeLinesBg(previousID, currentID) {
                removeCodeLineBg();

                var previousNumber = previousID.split('L')[1];
                var currentNumber = currentID.split('L')[1];

                if (previousNumber < currentNumber) {
                    for (j = previousNumber; j <= currentNumber; j++) {
                        document.getElementById('L'+j).parentElement.style.background = '#CDF0FD';
                    }
                } else {
                    for (j = previousNumber; j >= currentNumber; j--) {
                        document.getElementById('L'+j).parentElement.style.background = '#CDF0FD';
                    }
                }

                // Update URL parameter to the combined lines ID
                var url = window.location.href;
                var newurl = url.split('#')[0] + '#' + previousID + '-' + currentID;
                window.location.href = newurl;
            }

            function removeCodeLineBg() {
                // Remove previous line backgrounds
                var hljsLine = document.getElementsByClassName('hljs-ln-line');
                for (i = 0; i < hljsLine.length; ++i) {
                    hljsLine[i].parentElement.removeAttribute('style');
                }
            }
        };
    </script>
</main>
{{end}}