{{define "title"}}{{ .Reponame }} - File viewer{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="/r/{{ .Reponame }}">{{ .Reponame }}</a> {{if eq .IsRepoPrivate true}} <i>private</i> {{end}} </div>
            <div class="repo__description">{{ .RepoDescription }}</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/tree/master" class="repo__menu__item repo__menu__item--active">tree</a>
        <a href="/r/{{ .Reponame }}/log/master" class="repo__menu__item">log</a>
        <a href="/r/{{ .Reponame }}/refs" class="repo__menu__item">refs</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{if .IsLoggedIn}}
        <a href="/r/{{ .Reponame }}/meta" class="repo__menu__item">meta</a>
        {{end}}
    </div>
    <div class="repo__sub-menu">
        <div class="repo__sub-menu__item branch">
            <form method="get" action="" class="form">
                <div class="form__group">
                    <label for="branchSelect">branch:</label>
                    <select id="branchSelect" onchange="branchChange(this.value)">
                        {{range .RepoBranches}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="path">
        {{if .RepoDetail.PathEmpty}}
        {{else}}
        <p>path:</p>
        <div>{{.RepoDetail.LegendPath}}</div>
        {{end}}
    </div>
    <div class="file-viewer">
        {{.RepoDetail.FileContent}}
    </div>
    <script src="/public/js/branch-selection.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
    <script src="/public/js/codelines-selection.js"></script>
</main>
{{end}}