{{define "favicon"}}<link rel="icon" type="image/png" href="/uploads{{.SiteSettings.SiteFavicon}}" />{{end}}
{{define "header"}}
    {{if .IsLoggedIn}}
    <header class="header">
        <div class="header__left">
            <a href="/" class="header__logo">
                {{if .SiteSettings.IsSiteLogoSVG}}
                <img src="/uploads{{.SiteSettings.SiteLogo}}" />
                <!-- {{.SiteSettings.SVGDAT}} -->
                {{else}}
                <img src="/uploads{{.SiteSettings.SiteLogo}}" width="{{.SiteSettings.SiteLogoWidth}}px" height="{{.SiteSettings.SiteLogoHeight}}px" />
                {{end}}
                <!-- <img src="/public/img/sorcia.svg" width="81px" height="18px" /> -->
            </a>
        </div>
        <div class="header__right">
            {{if eq .HeaderActiveMenu "meta"}}
            <a href="/meta" class="header__right__item header__right__item--active">meta</a>
            <a href="/logout" class="header__right__item">logout</a>
            {{else}}
            <a href="/meta" class="header__right__item">meta</a>
            <a href="/logout" class="header__right__item">logout</a>
            {{end}}
        </div>
    </header>
    {{else}}
    <header class="header">
        <div class="header__left">
            <a href="/" class="header__logo">
                {{if .SiteSettings.IsSiteLogoSVG}}
                <img src="/uploads{{.SiteSettings.SiteLogo}}" />
                <!-- {{.SiteSettings.SVGDAT}} -->
                {{else}}
                <img src="/uploads{{.SiteSettings.SiteLogo}}" width="{{.SiteSettings.SiteLogoWidth}}px" height="{{.SiteSettings.SiteLogoHeight}}px" />
                {{end}}
                <!-- <img src="/public/img/sorcia.svg" width="81px" height="18px" /> -->
            </a>
        </div>
        {{if .ShowLoginMenu}}
        <div class="header__right">
            <a href="/login" class="header__right__item">login</a>
        </div>
        {{end}}
    </header>
    {{end}}
{{end}}