<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sorcia - A simple and self-hosted Git service</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <header class="header">
        <div class="header__left">
            <a href="" class="header__logo">sorcia</a>
            <ul class="header__menu">
                <li>
                    <a href="" class="header__menu__item header__menu__item--active">git</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">todo</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">lists</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">man</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">meta</a>
                </li>
            </ul>
        </div>
        <div class="header__profile"><a href="">logout</a></div>
    </header>
    <main class="container git">
        <div class="container__info">
            <p>Welcome back, mysticmode! This is the sorcia git hosting service. Documentation for its use is <a href="">available here</a>.</p>
            <a href="" class="button button--primary">Create new repository</a>
        </div>
        <div class="git__repos">
            <ul class="repos">
                <li>
                    <a href="">~mysticmode / joyread</a>
                    <p>Self-hosted multi-user free(libre) ebook reader.</p>
                </li>
                <li>
                    <a href="">~mysticmode / joyread-design</a>
                    <p>Initial design for Joyread application.</p>
                </li>
                <li>
                    <a href="">~mysticmode / aviaOS</a>
                    <p>Experimental operating system written in Rust for RISC-V architecture.</p>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>