{{define "title"}}
    {{if .SiteSettings.IsSiteTitle}}
        {{.SiteSettings.SiteTitle}}
    {{else}}
        sorcia - Self-hosted web frontend for git repositories written in Go
    {{end}}
{{end}}
{{define "content"}}
<main class="container git">
    {{if .IsLoggedIn}}
        {{if .CanCreateRepo}}
        <div class="container__info">
            <div class="container__info__top">
                <a href="/create-repo" class="button button--primary">Create new repository</a>
            </div>
        </div>
        {{end}}
    <div class="git__repos">
        <div class="git__repos__title">repositories</div>
        <ul class="repos">
            {{range .Repos.Repositories}}
            <li>
                <a href="/r/{{.Name}}">
                    <p>{{.Name}}</p>
                    {{if .IsLoggedIn}}
                    {{if .IsPrivate}}<i>private</i>{{end}}
                    {{if eq .Permission "read"}}<i>read</i>{{end}}
                    {{if eq .Permission "read/write"}}<i>read/write</i>{{end}}
                    {{if not .IsPrivate}}
                        {{if eq .Permission "read/write"}}
                        {{else}}
                        <i>read</i>
                        {{end}}
                    {{end}}
                    {{end}}
                </a>
                <p>{{.Description}}</p>
            </li>
            {{end}}
        </ul>
    </div>
    {{else}}
    <div class="git__repos" style="width: 100%;">
        <div class="git__repos__title">repositories</div>
        <ul class="repos">
            {{range .Repos.Repositories}}
            <li>
                <a href="/r/{{.Name}}">{{.Name}}</a>
                <p>{{.Description}}</p>
            </li>
            {{end}}
        </ul>
    </div>
    {{end}}
</main>
{{end}}