{{define "title"}}sorcia - Self-hosted web frontend for git repositories written in Go{{end}}
{{define "content"}}
<main class="container git">
    <div class="container__info">
        <div class="container__info__top">
            <a href="/create-repo" class="button button--primary">Create new repository</a>
        </div>
    </div>
    <div class="git__repos">
        <div class="git__repos__title">repositories</div>
        <ul class="repos">
            {{range .Repos.Repositories}}
            <li>
                <a href="/r/{{.Name}}">{{.Name}} {{if eq .IsPrivate "true"}} <i>private</i>{{end}}</a>
                <p>{{.Description}}</p>
            </li>
            {{end}}
        </ul>
    </div>
</main>
{{end}}