<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sorcia - A simple and self-hosted Git service</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="public/css/style.css" />
</head>
<body>
    <header class="header">
        <div class="header__left">
            <a href="" class="header__logo">sorcia</a>
            <ul class="header__menu">
                <li>
                    <a href="" class="header__menu__item header__menu__item--active">git</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">todo</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">releases</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">roadmap</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">man</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">meta</a>
                </li>
            </ul>
        </div>
        <div class="header__profile"><a href="">logout</a></div>
    </header>
    <main class="container onboard">
        <div class="onboard__form">
            <div class="onboard__form__title">Login</div>
            <div class="onboard__form__group">
                <label for="loginUsername">username<i>*</i></label>
                <input type="text" class="onboard__form__input" id="loginUsername" />
            </div>
            <div class="onboard__form__group">
                <label for="loginPassword">password<i>*</i></label>
                <input type="password" class="onboard__form__input" id="loginPassword" />
            </div>
            <div class="onboard__form__submit-group">
                <input type="submit" class="button button--primary" value="Login" />
                <a href="">forgot your password?</a>
            </div>
        </div>
        <div class="onboard__form">
            <div class="onboard__form__title">Create account</div>
            <div class="onboard__form__group">
                <label for="registerUsername">username<i>*</i></label>
                <input type="text" class="onboard__form__input" id="registerUsername" />
            </div>
            <div class="onboard__form__group">
                <label for="registerEmail">email address<i>*</i></label>
                <input type="text" class="onboard__form__input" id="registerEmail" />
            </div>
            <div class="onboard__form__group">
                <label for="registerPassword">password<i>*</i></label>
                <input type="password" class="onboard__form__input" id="registerPassword" />
            </div>
            <input type="submit" class="button button--primary" value="Create account" />
        </div>
    </main>
</body>
</html>