{{define "title"}}sorcia - A fast and minimal web frontend for git repositories written in Go{{end}}
{{define "content"}}
<main class="container onboard">
    <form method="post" action="/login" class="onboard__form">
        <div class="onboard__form__title">login</div>
        <div class="onboard__form__error">{{ .LoginErrMessage }}</div>
        <div class="onboard__form__group">
            <label for="loginUsername">Username<i>*</i></label>
            <div class="onboard__form__group-sub">
                <div class="onboard__form__username-tag" title="sorcia user handle symbol">+</div>
                <input type="text" class="onboard__form__input" id="loginUsername" name="username" autocomplete="off" spellcheck="false" required="required" />
            </div>
        </div>
        <div class="onboard__form__group">
            <label for="loginPassword">Password<i>*</i></label>
            <input type="password" class="onboard__form__input" id="loginPassword" name="password" autocomplete="off" spellcheck="false" required="required" />
        </div>
        <div class="onboard__form__submit-group">
            <input type="submit" class="button button--primary" value="Login" />
            <a href="">forgot your password?</a>
        </div>
    </form>
    <form method="post" action="/login" class="onboard__form">
        <div class="onboard__form__title">create account</div>
        <div class="onboard__form__error">{{ .RegisterErrMessage }}</div>
        <div class="onboard__form__group">
            <label for="registerUsername">Username<i>*</i></label>
            <div class="onboard__form__group-sub">
                <div class="onboard__form__username-tag" title="sorcia user handle symbol">+</div>
                <input type="text" class="onboard__form__input" id="registerUsername" name="username" autocomplete="off" spellcheck="false" required="required" />
            </div>
        </div>
        <div class="onboard__form__group">
            <label for="registerEmail">Email address<i>*</i></label>
            <input type="email" class="onboard__form__input" id="registerEmail" name="email" autocomplete="off" spellcheck="false" required="required" />
        </div>
        <div class="onboard__form__group">
            <label for="registerPassword">Password<i>*</i></label>
            <input type="password" class="onboard__form__input" id="registerPassword" name="password" autocomplete="off" spellcheck="false" required="required" />
        </div>
        <input type="hidden" name="register" value="1" />
        <input type="submit" class="button button--primary" value="Create account" />
    </form>
</main>
{{end}}