{{define "title"}}meta - Keys{{end}}
{{define "content"}}
<main class="container meta">
    <div class="repo__menu">
        <a href="/meta" class="repo__menu__item">general</a>
        <a href="" class="repo__menu__item repo__menu__item--active">keys</a>
        <a href="/meta/users" class="repo__menu__item">users</a>
    </div>
    <div class="meta__detail">
        <form class="form meta__detail__form" method="POST" action="/meta/keys">
            <div class="form__title">add new ssh key</div>
            <div class="form__group">
                <label for="sshTitle">Title<i>*</i></label>
                <input type="text" class="form__input" id="sshTitle" name="sshtitle" value="" autocomplete="off" spellcheck="false" required="required" />
            </div>
            <div class="form__group">
                <label for="sshKey">Key<i>*</i></label>
                <textarea name="sshkey" id="sshKey" required="required"></textarea>
            </div>
            <input type="submit" class="button button--primary" value="Save" />
        </form>
        <div class="meta__keys">
            <div class="meta__keys__title">your ssh keys</div>
            <table class="meta__keys__table">
                <tr>
                    <th>Title</th>
                    <th>Fingerprint</th>
                </tr>
                {{range .SSHKeys.SSHKeys}}
                <tr>
                    <td>{{.Title}}</td>
                    <td>{{.Fingerprint}}</td>
                    <td><a href="" class="button button--danger">Delete</a></td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>
</main>
{{end}}