<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sorcia - A simple and self-hosted Git service</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Mono|Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css" />
</head>

<body>
    <header class="header">
        <div class="header__left">
            <a href="" class="header__logo">sorcia</a>
            <ul class="header__menu">
                <li>
                    <a href="" class="header__menu__item header__menu__item--active">git</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">todo</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">releases</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">blog</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">man</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">meta</a>
                </li>
            </ul>
        </div>
        <div class="header__profile"><a href="/logout">logout</a></div>
    </header>
    <main class="container repo">
        <div class="repo__title"><a href="">~mysticmode</a> / joyread</div>
        <div class="repo__description">Self-hosted multi-user free(libre) ebook reader.</div>
        <div class="repo__menu">
            <a href="" class="repo__menu__item">summary</a>
            <a href="" class="repo__menu__item repo__menu__item--active">tree</a>
            <a href="" class="repo__menu__item">log</a>
            <a href="" class="repo__menu__item">pull requests</a>
            <a href="" class="repo__menu__item">contributors</a>
            <a href="" class="repo__menu__item">settings</a>
        </div>
        <div class="repo__sub-menu">
            <select class="repo__branch">
                <option selected>master</option>
                <option>dev</option>
            </select>
            <div class="repo__path">
                /
            </div>
        </div>
        <div class="repo-tree">
            <a href="" class="repo-tree__file">.gitignore</a>
            <a href="" class="repo-tree__file">gulpfile.js</a>
            <a href="" class="repo-tree__file">package.json</a>
            <a href="" class="repo-tree__directory">src /</a>
        </div>
    </main>
</body>

</html>