{{define "title"}}{{ .Reponame }}{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="/r/{{ .Reponame }}">{{ .Reponame }}</a> {{if eq .IsRepoPrivate true}} <i>private</i> {{end}} </div>
            <div class="repo__description">{{ .RepoDescription }}</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/tree/master" class="repo__menu__item repo__menu__item--active">tree</a>
        <a href="/r/{{ .Reponame }}/log/master" class="repo__menu__item">log</a>
        <a href="/r/{{ .Reponame }}/refs" class="repo__menu__item">refs</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{if .IsLoggedIn}}
        <a href="/r/{{ .Reponame }}/meta" class="repo__menu__item">meta</a>
        {{end}}
    </div>
    <div class="repo__sub-menu">
        <div class="repo__sub-menu__item branch">
            <form method="get" action="" class="form">
                <div class="form__group">
                    <label for="branchSelect">branch:</label>
                    <select id="branchSelect" onchange="branchChange(this.value)">
                        {{range .RepoBranches}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </div>
            </form>
        </div>
    </div>
    {{if .RepoDetail.PathEmpty}}
    {{range .RepoLogs.History}}
    <div class="latest-commit">
        <img src="{{.DP}}" width="23px">
        <div class="latest-commit__name">{{.Author}}</div>
        <a href="">{{.Message}}</a>
        <div class="latest-commit__date">{{.Date}}</div>
    </div>
    {{end}}        
    {{else}}
    <div class="path">
        <p>path:</p>
        <div>{{.RepoDetail.LegendPath}}</div>
    </div>
    {{end}}
    <div class="repo-tree">
        {{range .RepoDetail.RepoDirsDetail}}
        <div class="repo-tree__info">
            <a href="{{ $.RepoDetail.WalkPath }}/{{.DirName}}" class="repo-tree__directory">{{.DirName}}</a>
            <a href="" class="repo-tree__info__message">{{.DirCommit}}</a>
            <p class="repo-tree__info__date">{{.DirCommitDate}}</p>
        </div>
        {{end}}
        {{range .RepoDetail.RepoFilesDetail}}
        <div class="repo-tree__info">
            <a href="{{ $.RepoDetail.WalkPath }}/{{.FileName}}" class="repo-tree__file">{{.FileName}}</a>
            <a class="repo-tree__info__message">{{.FileCommit}}</a>
            <p class="repo-tree__info__date">{{.FileCommitDate}}</p>
        </div>
        {{end}}
    </div>
    <script src="/public/js/branch-selection.js"></script>
</main>
{{end}}