{{define "title"}}+{{ .Username }}/{{ .Reponame }}{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="">+{{ .Username }}</a> / <a href="/+{{ .Username }}/{{ .Reponame }}">{{ .Reponame }}</a></div>
            <div class="repo__description">Self-hosted multi-user free(libre) ebook reader.</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="/+{{ .Username }}/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/+{{ .Username }}/{{ .Reponame }}/tree" class="repo__menu__item repo__menu__item--active">tree</a>
        <a href="" class="repo__menu__item">contributors (238)</a>
        <a href="" class="repo__menu__item">meta</a>
    </div>
    <div class="repo__sub-menu">
        <a href="" class="repo__sub-menu__item">127 commits</a>
        <div class="repo__sub-menu__item branch">
            <p>branch:</p>
            <select>
                <option value="master" selected="">master</option>
                <option value="devel">devel</option>
            </select>
        </div>
        <div class="repo__sub-menu__item path">
            <p>path:</p>
            <div>/ <a href="">config</a> / <a href="">cmd</a> /</div>
        </div>
    </div>
    <div class="repo-tree">
        <a href="" class="repo-tree__file">.gitignore</a>
        <a href="" class="repo-tree__file">gulpfile.js</a>
        <a href="" class="repo-tree__file">package.json</a>
        <a href="" class="repo-tree__directory">src /</a>
    </div>
</main>
{{end}}