{{define "title"}}{{ .Reponame }}{{end}}
{{define "style"}}
    {{if eq .SiteSettings.SiteStyle "default"}}
    <link rel="stylesheet" href="/public/css/style.min.css" />
    {{else}}
    <link rel="stylesheet" href="/public/css/style_alternative.min.css" />
    {{end}}
{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="/r/{{ .Reponame }}">{{ .Reponame }}</a> {{if eq .IsRepoPrivate true}} <i>private</i> {{end}} </div>
            <div class="repo__description">{{ .RepoDescription }}</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="" class="repo__menu__item repo__menu__item--active">summary</a>
        <a href="/r/{{ .Reponame }}/tree/master" class="repo__menu__item">tree</a>
        <a href="/r/{{ .Reponame }}/log/master" class="repo__menu__item">log</a>
        <a href="/r/{{ .Reponame }}/refs" class="repo__menu__item">refs</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{if .IsLoggedIn}}
        <a href="/r/{{ .Reponame }}/meta" class="repo__menu__item">meta</a>
        {{end}}
    </div>
    <div class="repo__sub-menu">
        <a href="/r/{{ .Reponame }}/log/master" class="repo__sub-menu__item">{{.TotalCommits}} commits</a>
        <p class="repo__sub-menu__bullet">&bull;</p>
        <a href="/r/{{ .Reponame }}/refs" class="repo__sub-menu__item">{{.TotalRefs}} refs</a>
        <p class="repo__sub-menu__bullet">&bull;</p>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__sub-menu__item">{{.Contributors.Total}} contributors</a>
    </div>
    <div class="repo__summary">
        <div class="repo__summary__left">
            <ul class="repo__latest-commits">
                {{range .RepoLogs.History}}
                <li>
                    <div>
                        <p><a href="">{{.Hash}}</a> - <img class="repo__log__dp" src="{{.DP}}" width="23px" /><span>{{.Author}}</span></p>
                        <p>{{.Date}}</p>
                    </div>
                    <p class="repo__commit-message">{{.Message}}</p>
                </li>
                {{end}}
            </ul>
        </div>
        <div class="repo__summary__right">
            <div class="repo__owner">
                <div class="repo__owner__title">owner</div>
                <div class="repo__owner__detail">{{ .Username }}</div>
            </div>
            <div class="repo__clone">
                <div class="repo__clone__title">clone</div>
                <div class="repo__clone__item"><span>ssh </span><input type="text" onclick="this.select()" value="git@{{ .Host }}:{{ .Reponame }}.git" readonly="" /></div>
                <div class="repo__clone__item"><span>https </span><input type="text" onclick="this.select()" value="https://{{ .Host }}/r/{{ .Reponame }}.git" readonly="" /></div>
            </div>
        </div>
    </div>
    <div class="readme">{{ .RepoDetail.Readme }}</div>
</main>
{{end}}