<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/public/img/sorcia_favicon.png" />
    <title>sorcia - A simple, self-hosted and modular services for your Git projects</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <header class="header">
        <div class="header__left">
            <ul class="header__menu">
                <li>
                    <a href="/" class="header__menu__item header__menu__item--active">git</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">todo</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">releases</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">lists</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">man</a>
                </li>
                <li>
                    <a href="" class="header__menu__item">meta</a>
                </li>
            </ul>
        </div>
        <div class="header__profile"><a href="/logout">logout</a></div>
    </header>
    <main class="container repo">
        <div class="repo__title"><a href="">+{{ .username }}</a> / {{ .reponame }}</div>
        <div class="repo__description">Self-hosted multi-user free(libre) ebook reader.</div>
        <div class="repo__menu">
            <a href="" class="repo__menu__item repo__menu__item--active">summary</a>
            <a href="" class="repo__menu__item">tree</a>
            <a href="" class="repo__menu__item">log</a>
            <a href="" class="repo__menu__item">contributors</a>
            <a href="" class="repo__menu__item">settings</a>
        </div>
        <div class="repo__sub-menu">
            <a href="" class="repo__sub-menu__item">127 commits</a>
            <a href="" class="repo__sub-menu__item">2 branches</a>
        </div>
        <div class="readme">README.md text comes here</div>
    </main>
</body>

</html>