{{define "title"}}{{ .Reponame }} - Refs{{end}}
{{define "style"}}
    {{if eq .SiteSettings.SiteStyle "classic"}}
    <link rel="stylesheet" href="/public/css/style_alternative.min.css" />
    {{else}}
    <link rel="stylesheet" href="/public/css/style.min.css" />
    {{end}}
{{end}}
{{define "content"}}
<main class="container repo">
    <div class="repo__header">
        <div>
            <div class="repo__title"><a href="/r/{{ .Reponame }}">{{ .Reponame }}</a> {{if eq .IsRepoPrivate true}} <i>private</i> {{end}} </div>
            <div class="repo__description">{{ .RepoDescription }}</div>
        </div>
    </div>
    <div class="repo__menu">
        <a href="/r/{{ .Reponame }}" class="repo__menu__item">summary</a>
        <a href="/r/{{ .Reponame }}/tree/master" class="repo__menu__item">tree</a>
        <a href="/r/{{ .Reponame }}/log/master" class="repo__menu__item">log</a>
        <a href="/r/{{ .Reponame }}/refs" class="repo__menu__item repo__menu__item--active">refs</a>
        <a href="/r/{{ .Reponame }}/contributors" class="repo__menu__item">contributors</a>
        {{if .IsLoggedIn}}
        <a href="/r/{{ .Reponame }}/meta" class="repo__menu__item">meta</a>
        {{end}}
    </div>
    <div class="repo-refs">
        {{range .RepoRefs}}
        <div class="repo-refs__info">
            <div class="repo-refs__version">{{.Version}}</div>
            <div class="repo-refs__files">
                <a href="{{.TargzPath}}">{{.Targz}}</a>
                <a href="{{.ZipPath}}">{{.Zip}}</a>
            </div>
            <div class="repo-refs__message">{{.Message}}</div>
        </div>
        {{end}}
    </div>
</main>
{{end}}