.button {
    background: $button-bg;
    font-family: $font-default;
    font-size: 16px;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:hover {
        background: darken($color: $button-bg, $amount: 10%);
        color: white;
    }

    &--danger {
        background: $brand-danger;

        &:hover {
            background: darken($color: $brand-danger, $amount: 10%);
            color: white;
        }
    }
}