.button {
    background: $brand-primary;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;

    &:hover {
        background: darken($color: #2680a4, $amount: 10%);
        color: white;
    }
}