.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 860px;
    background: white;
    border-top: 1px solid $brand-border;
    text-align: center;
    margin: 0 20px;
    padding: 10px 0;
}