.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 15px;

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-right: 40px;
    }

    &__right {
        display: flex;
        align-items: center;
        
        color: $text-color;

        &__item {
            text-decoration: none;
            color: $text-color;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &--active, &:hover {
                color: $text-color;
            }
        }
    }
}