input[type="text"], input[type="email"], input[type="password"], textarea {
    font-family: $font-default;
    font-size: 18px;
    background: white;
    color: $input-color;
    border: 1px solid $brand-border !important;
    border-radius: 0;
    padding: 6px 10px;
    outline: none;

    &:focus {
        border: 1px solid $brand-primary !important;
    }
}

textarea {
    resize: vertical;
    overflow: auto;
}
