input[type="text"], input[type="email"], input[type="password"] {
    font-family: $font-default;
    background: white;
    color: $text-color;
    border: 1px solid #e0e4e7;
    border-radius: 0;
    padding: 7px 10px;
    outline: none;

    &:focus {
        border: 1px solid $brand-primary;
    }
}