input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e0e4e7;
    border-radius: 0;
    padding: 7px 10px;

    &:focus {
        border: 1px solid $brand-primary;
    }
}