.button {
    background: $button-primary;
    font-family: $font-default;
    color: $text-color-2;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    outline: none;

    &:hover {
        background: darken($color: $button-primary, $amount: 10%);
        color: $text-color-2;
    }

    &--danger {
        background: $brand-danger;

        &:hover {
            background: darken($color: $brand-danger, $amount: 10%);
            color: white;
        }
    }
}