input[type="text"], input[type="email"], input[type="password"], textarea {
    font-family: $font-default;
    background: white;
    color: $text-color-3;
    border: none;
    border-radius: 0;
    padding: 7px 10px;
    outline: none;
}

textarea {
    resize: vertical;
    overflow: auto;
}