.button {
    background: #eeeeee;
    font-family: $font-default;
    color: $text-color;
    border: 1px solid $brand-border;
    padding: 7px 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:hover {
        background: darken($color: #eeeeee, $amount: 10%);
        color: $text-color;
    }

    &--danger {
        background: $brand-danger;
        color: white;

        &:hover {
            background: darken($color: $brand-danger, $amount: 10%);
            color: white;
        }
    }
}